<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleSDXCBlockStorageDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSDXC</string>
			<key>Device Characteristics</key>
			<dict>
				<key>Product Name</key>
				<string>Built In SDXC Reader</string>
				<key>Vendor Name</key>
				<string>Apple</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSDXCBlockStorageDevice</string>
			<key>IOMediaIcon</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.iokit.IOSCSIArchitectureModelFamily</string>
				<key>IOBundleResourceFile</key>
				<string>SD.icns</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleSDXCSlotNull</string>
		</dict>
		<key>IOSDBlockStorageDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>Device Characteristics</key>
			<dict>
				<key>Product Name</key>
				<string>Built In SDXC Reader</string>
				<key>Vendor Name</key>
				<string>Realtek</string>
			</dict>
			<key>IOClass</key>
			<string>IOSDBlockStorageDevice</string>
			<key>IOMediaIcon</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.iokit.IOSCSIArchitectureModelFamily</string>
				<key>IOBundleResourceFile</key>
				<string>SD.icns</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOSDHostDriver</string>
		</dict>
		<key>RealtekRTS5209Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>RealtekRTS5209Controller</string>
			<key>IOPCIMatch</key>
			<string>0x520910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5229Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>RealtekRTS5229Controller</string>
			<key>IOPCIMatch</key>
			<string>0x522910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5249Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>RealtekRTS5249Controller</string>
			<key>IOPCIMatch</key>
			<string>0x524910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS524AController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>RealtekRTS524AController</string>
			<key>IOPCIMatch</key>
			<string>0x524A10EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS525AController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>RealtekRTS525AController</string>
			<key>IOPCIMatch</key>
			<string>0x525A10EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 FireWolf. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>2.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.4</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.4</string>
	</dict>
</dict>
</plist>
